<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.mamezou.android.bmicalc4">
    <application android:icon="@drawable/icon">
        <activity android:label="@string/app_name" android:name="BMICalculator4Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ResultActivity" android:label="@string/app_name" />
        <receiver android:name=".MaleIntentReceiver">
            <intent-filter>
                <action android:name="com.mamezou.android.intent.action.CALCULLATE_BMI" />
                <category android:name="com.mamezou.android.intent.category.bmi.MALE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".FemaleIntentReceiver">
            <intent-filter android:priority="1">
                <action android:name="com.mamezou.android.intent.action.CALCULLATE_BMI"/>
            </intent-filter>
            <intent-filter android:priority="0">
                <action android:name="com.mamezou.android.intent.action.CALCULLATE_BMI_WITH_URI"/>
                <data android:scheme="bmi" />
                <data android:host="" />
                <data android:pathPrefix="/female" />
            </intent-filter>
        </receiver>
    </application>
</manifest> 